#newsletter-prompt {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 10000;
  max-width: 400px;
}

#newsletter-prompt.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
}

#newsletter-prompt.right {
  position: fixed;
  top: 30%;
  right: 0;
}

#newsletter-prompt.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

#newsletter-prompt.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: none;
}

#newsletter-prompt.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
}

#newsletter-prompt.left {
  position: fixed;
  top: 30%;
  left: 0;
}

#newsletter-prompt .prompt-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: white url("../images/close.png") no-repeat center;
  cursor: pointer;
}

#newsletter-prompt .prompt-title {
  margin-right: 30px;
}

#newsletter-prompt .form-item-email {
  width: 270px;
  float: left;
}

#newsletter-prompt input.form-text {
  width: 270px;
}

#newsletter-prompt h2 {
  line-height: 1.4em;
}

#newsletter-prompt .error {
  float: left;
}

.newsletter-hidden {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #newsletter-prompt .prompt-close {
    background: white url("../images/close@2x.png") no-repeat center;
    background-size: 40px;
  }
}
